*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(xl) {
        font-size: 55%;
    }
    @include respond(lg) {
        font-size: 41%;

    }
    @include respond(md) {
        font-size: 70%;
    }

    @include respond(sm) {
        font-size: 36%;
    }
}

body {
    font-family: $font-1;
    color: $color-primary;
    font-size: 1.6em;
    line-height: 1;
    direction: rtl;

}




.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
