// for everything else

@font-face {
    font-family: 'almoni-neue';
    font-weight: 300;
    /*(light)*/
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-aaa-300.woff') format('woff');
}

// for hashtag number

@font-face {
    font-family: 'almoni-tzar';
    font-weight: 200;
    /*(light)*/
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-tzar-aaa-200.woff') format('woff');
}

// for phone number
@font-face {
    font-family: 'almoni-tzar';
    font-weight: 500;
    /*(light)*/
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-tzar-aaa-500.woff') format('woff');
}


