.heading {
    font-family: $font-1;
    font-size: 6rem;
    font-weight: 400;
}


.form-heading {
    font-family: $font-1;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.para {
    font-size: 2.6rem;
    margin: 2rem 0;
    max-width: 85rem;
    line-height: 1.2;

    margin: 2rem 0;

    @include respond(sm) {
        margin: 2rem auto;
    }

    &--lg {
        font-weight: 400;
    }
}

.strong {
    font-weight: bold;

}