// COLORS
$color-primary: #14499e;
$color-secondary: #d500f9;
$color-light: #fff;
$color-grey: #E3E6E8;
$color-dark: #333;
// FONTS
$font-1: 'almoni-neue', sans-serif;
$font-2: 'almoni-tzar', monospace;
